//== Fonts ==//
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

// font-family: "Open Sans", sans-serif;
// font-family: "Roboto", sans-serif;
// font-family: "Yellowtail", cursive;

//== Colors ==//
$darkblue: #274c5b;
$green: #7eb693;
$captiongreen: #68a47f;
$yellow: #efd372;
$grey: #d4d4d4;
$darkGrey: #525c60;
$whiteGrey: #f9f8f8;
$cyan: #eff6f1;

//== Heading Text ==//
@mixin displayh1Text() {
	font-family: "Roboto", sans-serif;
	font-weight: 800;
	font-size: 4.35rem; // 70px
	line-height: 0;
	letter-spacing: 0;
	color: $darkblue;
}

@mixin headingh2Text() {
	font-family: "Roboto", sans-serif;
	font-weight: 800;
	font-size: 3.125rem; // 50px
	line-height: 0;
	letter-spacing: 0;
	color: $darkblue;
}

@mixin headingh3Text() {
	font-family: "Roboto", sans-serif;
	font-weight: 800;
	font-size: 2.5rem; // 40px
	line-height: 0;
	letter-spacing: 0;
	color: $darkblue;
}

@mixin headingh4Text() {
	font-family: "Roboto", sans-serif;
	font-weight: 800;
	font-size: 2.18rem; // 35px
	line-height: 0;
	letter-spacing: 0;
	color: $darkblue;
}

@mixin headingh5Text() {
	font-family: "Roboto", sans-serif;
	font-weight: 800;
	font-size: 1.875rem; // 30px
	line-height: 0;
	letter-spacing: 0;
	color: $darkblue;
}

@mixin headingh6Text() {
	font-family: "Roboto", sans-serif;
	font-weight: 800;
	font-size: 1.56rem; // 25px
	line-height: 0;
	letter-spacing: 0;
	color: $darkblue;
}

//== Paragraph ==//
@mixin paragraph() {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 1.125rem; // 18px
	line-height: 165.4%;
	letter-spacing: 0;
	color: $darkblue;
}

//== Button ==//
@mixin button($bgColor, $textColor) {
	background-color: $bgColor;
	color: $textColor;
	width: 15rem;
	height: 5rem;

	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	border-radius: 1rem;

	font-size: 1.25rem; // 20px
	font-weight: 700;
}
